
 <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <a class="button is-link"href="/">Back to the game list</a>
      </div>
    </div>
  </div>

<h1 class='title is-1'> Let's Play!!!!!!</h1>



<h1>{{foundGame.name}}</h1>

<figure class="image is-16by9">
<iframe class="has-ratio" width="640" height="360" src={{foundGame.url}} frameborder= "0" allowfullscreen></iframe>

</figure>