<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
     
    <title>{{title}}</title>
  </head>

  <body>
    
    <style>
      body{
        padding: 50px;
        font-family: 'Courier New',    Courier, monospace;
        color: rgb(228, 207, 20);
        background-image: url('https://ak.picdn.net/shutterstock/videos/1012419884/thumb/1.jpg');
        background-repeat: no-repeat;  
        background-attachment: fixed; 
        background-size: cover;
        
      }

    </style>

   {{{body}}}
  </body>
</html>
    



 <style>
.footer {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black ;
  color: rgb(228, 207, 20);
  text-align: center;
  
}
</style>

<div class="footer">
  <p>Made with love by <a href="https://github.com/Sebastiangomezzz">Sebas</a>, <a href="https://github.com/laurindor">Lau</a> and <a href="https://github.com/Viciot">Victor</a></p> with help of Marco and Fede
</div> 