

<a href="/private/creator">Back to the game list</a>

<h1>Let's Play!!!!!!</h1>


<h1>{{foundGame.name}}</h1>

<div class="embed-game">
<iframe src={{foundGame.url}} frameborder= "0" allowfullscreen></iframe>
</div>